In [ ]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [ ]:
# y = mx+b

In [ ]:
df=pd.read_csv("student.csv")

In [ ]:
df.head(3)

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811

In [ ]:
y=df[["Marks"]]
x=df[["number_courses","time_study"]]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  100 non-null    int64
 1   time_study      100 non-null    float64
 2   Marks           100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [ ]:
l=LinearRegression()
model=l.fit(x,y)

In [ ]:
model.predict([[4,10]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[53.99164461]])

In [ ]:
df['Marks'].max()

55.299

In [ ]:
model.score(x,y)

0.9403656320238896

In [1]:
!git config --global user.name "yarencigdem"
!git config --global user.email "yarencigdm@gmail.com"