In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv('card.csv')

In [ ]:
df.head(3)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0

In [ ]:
df=df.drop("ID",axis=1)

In [ ]:
y=df["default.payment.next.month"]
x=df.drop("default.payment.next.month",axis=1)

In [ ]:
df.shape

(30000, 24)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.77,random_state=6)

In [ ]:
log=LogisticRegression()
model=log.fit(x_train,y_train)

In [ ]:
model.score(x_test,y_test)

0.7739130434782608

In [ ]:
denemex=np.array(x.iloc[1903])

In [ ]:
model.predict([denemex])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0])

In [ ]:
y.iloc[1903]

0